.add-user{
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
}
.display-user{
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid skyblue;
}

.add-user-input {
  width: 250px;
  height: 35px;
  display: block;
  text-align: center;
}
.add-user-input::placeholder{
  text-align: center;
}
.add-user-btn {
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
  background: purple;
  color: white;
}